.managementLayout {
  height: 1215px;
  background: #fff;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  position: relative;
  padding-top: 48px;
}
.rulers {
  height: 2px;
  background: #003f6e;
  position: absolute;
  bottom: 80px;
  width: 93%;
  box-sizing: border-box;
  left: 32px;
  right: 32px;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 24px;
  left: 32px;
  right: 32px;
}

.managementReport {
  color: #47b65c;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.date {
  color: #227cbf;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
