.managementLayout {
  background: #fff;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 32px;
  width: 873px;
  padding-right: 32px;
  box-sizing: border-box;
}
.managementLayoutEdit {
  background: #fff;
   box-sizing: border-box;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 32px;
  width: 873px;
  padding-right: 32px;
}
.rulers {
  height: 2px;
  background: #003f6e;
  width: 100%;
  box-sizing: border-box;
  left: 32px;
  right: 32px;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.managementReport {
  color: #47b65c;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.date {
  color: #227cbf;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer{
  padding-bottom: 24px;
}