.intro {
  color: #272727;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 165.5%;
  margin-bottom: 24px;
}
.figure {
  color: #272727;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.targetChart {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
}

.figureText {
  color: #272727;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 165.5%; /* 23.17px */
  margin-bottom: 342px;
  margin-top: 34px;
}
